@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


:root {
  --dark-gray: #566573;
  --light-gray: #85929E;
  --white:#FFF;
  --green: #2ECC71;
  --red: #B71C1C;
  --yellow:#FFC107;
  --Turkey-blue: #00ACC1;
  background-color: var(--dark-gray);
  --shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--white);
  font-size: 50pt;
  text-align: center;
  font-family: 'Creepster', cursive;
}

.description {
  color: var(--white);
  font-size: 20pt;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-bottom: 30px;
}

.grid {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 380px;
  height: 490px;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  border-radius: 20px;
  box-shadow:var(--shadow);
  overflow: hidden;
}

.image {
  border-radius: 14px 14px 0 0;
}

.image:hover {
  animation: change-size linear 2s;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.status {
  background-color: var(--green);
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.red-status{
  background-color: var(--red);
}

.name{
  margin: 20px 0 10px 0;
}

.text {
  font-weight: bold;
}

.button {
  width: 380px;
  min-height: 40px;
  background-color: var(--Turkey-blue);
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  padding: 4px;
  border: 0;
  border-radius: 8px;
  margin-bottom: 12px;
box-shadow: var(--shadow);
overflow: hidden;
}

@keyframes change-size {
  from {
    width: 300px;
    height: 300px;
  } to{
    width: 380px;
    height: 380px;
  }
}

@media screen and (max-width: 800px){
  .card {
    width: 90%;
  }
  .image {
    width: 100%;
  }
  .title{
    font-size: 50px;
  }
  .description{
    font-size: 20px;
  }
}
